<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard Hotelería</title>
  <link rel="stylesheet" href="../../css/dashboard.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Dashboard Hotelería</h1>

  <section>
  <h2>1. Cancelaciones por Mes, Tipo de Alojamiento y Método de Pago</h2>
  <canvas id="cancelacionesChart"></canvas>
</section>


  <section>
    <h2>2. Crecimiento de Reservas por Zona</h2>
    <canvas id="zonasChart"></canvas>
  </section>

  <section>
    <h2>3. Usuarios que Más Recomiendan</h2>
    <canvas id="recomiendanChart"></canvas>
  </section>

  <section>
    <h2>4. Satisfacción por Día y Servicio</h2>
    <canvas id="satisfaccionChart"></canvas>
  </section>

  <section>
    <h2>5. Perfiles con Reservas Caras y Muchos Servicios</h2>
    <canvas id="perfilesChart"></canvas>
  </section>

<script src="../../js/dashboard.js"></script>
</body>
</html>

